*{
  box-sizing: border-box;
}

body{
  background-color: #eee;

}
.container{
  width: 80%;
  margin: auto;
}

.header{
  text-align: center;
  color: blueviolet;
  font-size: 2rem;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.loading{
  text-align: center;
}
.error{
  text-align: center;
  background-color: #ddd;
  padding: 20px;
}

.welcome-page{
  text-align: center;

}

.btn{
  border: none;
  padding: 10px;
}
.start-btn{
  background-color: #1f1e1e;
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
}